/node_modules
/public/hot
/public/storage
/public/tema/allInOne
/public/tema/aparelhosIp
/public/tema/assinaturas
/public/tema/imgPerfil
/database/seeders
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
